@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'MonumentExt';
    src: url('fonts/MonumentExtended-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MonumentExt';
    src: url('fonts/MonumentExtended-Ultrabold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}


* {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
    font-weight: 500;

    scroll-behavior: smooth;

    background-color: #fffaff;
}

.pink {
    color: #fc1287;
}

.font-alt {
    font-family: "MonumentExt", sans-serif;
}

.reveal-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    pointer-events: none;
}

.top-half,
.bottom-half {
    width: 100vw;
    height: 50vh;
    background: #fc1287;
    position: absolute;
    left: 0;
    z-index: 1001;
}

.top-half {
    top: 0;
}

.bottom-half {
    bottom: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
}

.main-video {
    height: 100%;
    width: 100%;
    object-fit: fill;
    object-position: center;
}

.container {
    max-width: 90vw;
    overflow-x: hidden;
    margin: auto;
}


.about {
    display: flex;
    padding: 100px 0;
}

.about h1 {
    flex: 1;
    font-size: 50px;
    font-weight: bolder;
    color: #181818;
}

.about p {
    flex: 1;
    max-width: 800px;
    font-size: 32px;
    text-align: right;
}

.services {
    position: relative;
}

.service-content {
    padding: 60px 20px 20px 20px;
    border-bottom: 3px solid #fc1287;
    margin: 20px 0;

    height: 10px;
    overflow: hidden;
    transition: .5s ease-in-out;

    position: relative;
}

.arrow {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fc1287;
    font-size: 26px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transform: rotate(-30deg);
    transition: .5s ease-in-out;
}

.service-content:hover .arrow {
    background-color: #fffaff;
    color: black;
    transform: rotate(90deg);
    padding-bottom: 3px;
}

.service-content:hover {
    padding: 120px 20px 20px 20px;
    height: auto;
    background-color: #fc1287;
    color: white;
}

.service-content h1 {
    font-size: 28px;
    font-family: "MonumentExt", sans-serif;
    font-weight: 400;
}

.service-content p {
    font-size: 16px;
}

.services button {
    position: absolute;
    right: 0;

    background-color: #fc1287;
    border: none;
    color: white;
    font-family: "MonumentExt", sans-serif;
    font-size: 24px;
    padding: 10px 100px;

    margin-bottom: 50px;
    transition: .3s;
    cursor: pointer;
}

button:hover {
    background-color: #c01068;
}

.services-txt {
    padding: 100px 0;
    font-size: 24px;
}

.portf {
    text-align: center;
}

.portf h1 {
    font-size: 48px;
    font-weight: 900;
}

.portf p {
    font-size: 32px;
    margin: 30px 0;
}

.portf-img {
    max-width: 1500px;
    width: 80%;
}


.works {
    margin-top: 100px;
    width: 100vw;
    height: auto;
    position: relative;
}

.work-content {
    height: 60vh;
    width: 100vw;
    gap: 10px;
    margin-bottom: 10px;
    display: flex;

    position: sticky;
    top: 0;
}

.work-element {
    height: 100%;
    flex: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition: background-size 0.5s ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}

.work-element p {
    font-family: "MonumentExt", sans-serif;
    font-size: 24px;
    color: #fffaff;
    padding: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.171);
    transition: 0.5s ease-in-out;
}

.arrow-work {
    width: 60px;
    height: 60px;
    margin: 20px;
    background-color: #fffaff;
    color: black;
    padding-bottom: 3px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    opacity: 0;

    transition: .5s ease-in-out;
}

.work-element:hover {
    background-size: 110% 110%;
}

.work-element:hover p {
    background-color: rgba(0, 0, 0, 0.281);
}

.work-element:hover .arrow-work {
    opacity: 1;
    transform: rotate(-45deg);
}


.footer {
    width: 100vw;
    height: 45vh;
    min-height: 400px;
    background-color: #fc1287;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-footer a {
    font-family: "MonumentExt", sans-serif;
    font-size: 67px;
    color: #181818;
    text-decoration: none;

    display: inline-block;
    overflow: hidden;
}

.nav-footer a .letter {
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;
}


/* quebroiu mobile 810 */

@media(max-width: 985px) {
    .about {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .about p {
        text-align: center;
        font-size: 19px;
    }
}

@media(max-width: 800px) {

    .about{
        padding: 20px 0;
    }

    .about h1 {
        font-size: 16px;
    }

    .font-alt {
        font-size: 22px;
    }

    .about p {
        font-size: 16px;
    }

    
.service-content {
    padding: 10px;
    border-bottom: none;
    margin: 10px 0;
    color:#fffaff;
    height: auto;
    background-color: #fc1287;
}

.arrow {
    display: none;
}

.service-content:hover {
    padding: 10px;
    color:#fffaff;
}

.service-content h1 {
    font-size: 18px;
}

.service-content p {
    font-size: 14px;
}

.services button {
    position: static;
    color:#fffaff ;
    font-size: 18px;
    padding: 5px;
    width: 100%;
    margin-bottom: 0px;
}

.services-txt {
    padding: 20px 0;
    font-size: 16px;
}

.portf h1 {
    font-size: 32px;
}

.portf p {
    font-size: 16px;
    margin: 15px;
}

.portf-img {
    width: 100%;
}

.works {
    margin-top: 10px;
}

.work-content {
    width: 100vw;
    gap: 5px;
    margin-bottom: 5px;
    flex-direction: column;
}

.work-element {
    background-size: cover;
}

.work-element:hover {
    background-size: cover;
}

.footer {
    height: auto;
    min-height: 40vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    gap: 50px;
}

.nav-footer a {
    font-size: 38px;
}

}